/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Cond";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: local("Helvetica Neue Condensed Bold"), local("HelveticaNeueBoldCondensed"), url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.18;
  background: #fff;
  color: #000;
  font-family: "HelveticaNeue";
}

#main {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.w100 {
  width: 100% !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-wrap: wrap;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.row [class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2 {
  width: 50%;
}

.main-container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.slick-slide {
  outline: 0;
}

@media (max-width: 1200px) {
  .main-container {
    max-width: 1054px;
  }
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
}

a {
  outline: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

ul {
  padding-left: 20px;
  margin-bottom: 30px;
}
ul li {
  margin-bottom: 10px;
}

.license {
  padding: 0;
  margin: 40px -10px 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.license__item {
  padding: 0 10px;
  width: 25%;
  margin-bottom: 20px;
}
.license__inner {
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  min-height: 120px;
  height: 100%;
  text-align: center;
  padding: 15px 20px;
}
.license p {
  margin: 0 0 15px;
}
.license p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .license__item {
    width: calc(100% / 3);
  }
}
@media (max-width: 860px) {
  .license__item {
    width: 50%;
  }
}
@media (max-width: 568px) {
  .license__item {
    width: 100%;
    margin-bottom: 15px;
  }
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  margin: 0;
  outline: 0;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  border-radius: 5px;
  transition: 0.3s color ease, 0.3s background-color ease;
  font-weight: bold;
  font-size: 19px;
  font-family: "Helvetica Neue Cond";
}
.btn--green {
  background: #96CC61;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.btn--green:hover {
  background: #7cbd3d;
}

.header {
  border-bottom: 1px solid #F1F1F1;
  padding-top: 45px;
  padding-bottom: 45px;
}
.header__logo {
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo-icon {
  width: 58px;
  height: 57px;
  background: url("images/logo.svg") no-repeat center;
  background-size: contain;
}
.header__logo-cont {
  color: #4EA3DA;
  line-height: 1.2;
  font-weight: 500;
  font-size: 25px;
  padding-left: 13px;
}
.header__logo-cont span {
  color: #CCDE00;
  display: block;
}
.header__info {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  margin: 17px 0 0;
  color: #585C64;
}
.header__info span {
  color: #4EA3DA;
}

@media (max-width: 1200px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__logo-cont {
    font-size: 20px;
  }
  .header__info {
    font-size: 20px;
    margin-top: 16px;
  }
}
@media (max-width: 860px) {
  .header__logo-icon {
    width: 40px;
    height: 40px;
  }
  .header__logo-cont {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 3px;
  }
  .header__info {
    font-size: 16px;
    margin-top: 10px;
  }
}
@media (max-width: 568px) {
  .header .col-auto:first-child {
    padding-right: 20px;
  }
  .header__info {
    font-size: 14px;
  }
}
.loans__header {
  margin: 83px 0 0;
  position: relative;
  padding: 0 180px 0 0;
}
.loans__header:before {
  position: absolute;
  top: -42px;
  right: 71px;
  content: "";
  display: block;
  width: 162px;
  height: 165px;
  background: url("images/24-hours.svg") no-repeat center;
  background-size: contain;
}
.loans__header-title {
  margin: 0 0 3px;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
  color: #585C64;
  position: relative;
  letter-spacing: 1px;
}
.loans__header-percent {
  width: 181px;
  height: 186px;
  background: url("images/percent.svg") no-repeat center;
  background-size: contain;
  display: inline-block;
  vertical-align: top;
  margin: -94px 0 0 65px;
  text-align: center;
  color: #585C64;
  font-weight: bold;
  font-size: 25px;
  padding: 110px 70px 10px 14px;
  font-family: "Helvetica Neue Cond";
}
.loans__header-text {
  color: #585C64;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

.loans-list {
  padding: 0;
  margin: 42px -10px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.loans-list__item {
  padding: 0 10px;
  margin-bottom: 50px;
  width: 25%;
}
.loans-list__inner {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 400px;
}
.loans-list__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 106px;
  border-bottom: 1px solid #F0F0F0;
  padding: 0 15px;
}
.loans-list__header-link {
  text-decoration: none;
  display: block !important;
}
.loans-list__header-img {
  display: block !important;
  max-width: 100%;
  max-height: 100%;
}
.loans-list__cont {
  padding: 22px 15px 11px;
}
.loans-list__table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 3px;
}
.loans-list__table-icon {
  width: 20px;
  display: inline-block;
  vertical-align: top;
}
.loans-list__table .icon-hryvnia {
  margin-top: 2px;
}
.loans-list__table .icon-percent {
  margin-top: 1px;
}
.loans-list__table td {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #585C64;
  padding: 8px 5px;
}
.loans-list__table td:last-child {
  text-align: right;
  color: #FD6C2E;
}
.loans-list__h3 {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  color: #122436;
  margin: 0 0 20px;
}
.loans-list__footer {
  border-top: 1px solid #F0F0F0;
  padding: 22px 15px 41px;
  text-align: center;
}

[class*=icon-] {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-hryvnia {
  width: 14px;
  height: 13px;
  background-image: url("images/hryvnia.svg");
}

.icon-percent {
  width: 13px;
  height: 14px;
  background-image: url("images/percent-t.svg");
}

.icon-age {
  width: 15px;
  height: 15px;
  background-image: url("images/age.svg");
}

.loans-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.loans-payment__item {
  padding: 0 10px;
}
.loans-payment__img {
  display: block;
}

@media (max-width: 1200px) {
  .loans__header:before {
    width: 130px;
    height: 130px;
    right: 0;
  }
  .loans__header-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .loans__header-percent {
    width: 120px;
    height: 120px;
    margin: -57px 0 0 30px;
    font-size: 18px;
    padding: 70px 47px 10px 10px;
  }
  .loans__header-text {
    font-size: 18px;
  }

  .loans-list__item {
    width: calc(100% / 3);
  }
}
@media (max-width: 860px) {
  .loans__header {
    margin-top: 40px;
    padding-right: 110px;
  }
  .loans__header:before {
    width: 90px;
    height: 90px;
    top: -21px;
  }
  .loans__header-title {
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    padding-right: 100px;
    margin-bottom: 15px;
  }
  .loans__header-percent {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 18px;
    right: 0;
    font-size: 14px;
    padding: 53px 35px 10px 9px;
  }
  .loans__header-text {
    font-size: 16px;
  }

  .loans-list__item {
    width: 50%;
  }
}
@media (max-width: 568px) {
  .loans__header {
    padding-right: 0;
  }
  .loans__header:before {
    display: none;
  }
  .loans__header-title {
    font-size: 26px;
    padding-right: 110px;
  }

  .loans-list__item {
    width: 100%;
    margin-bottom: 30px;
  }
}