.main-container.text-content 
  h2 Условия пользования и погашения
  h3 Требования к заёмщикам:
  ul 
    li Гражданство Украины;
    li Возраст от 18 лет до 65 лет;
    li Постоянная регистрация на территории Украины
    li Заявитель/Заемщик должен обладать полной правоспособностью и дееспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для заключения Договора Займа путем направления Оферты и исполнения условий Договора Займа;
    li Наличие номера мобильного телефона зарегистрированного на имя Заявителя/Заемщика на территории Украины;
    li Наличие постоянного официального дохода;
    li Наличие действующего открытого банковского счета в одном из банков Украины.
  h3 Условия получения:
  ul 
    li Период погашения займа от 61 до 365 дней;
    li Процентная ставка по займам от 30 до 100% годовых. Например, если вы взяли займ на сумму 50 000 гривны на 1 год, то после истечения срока займа, вам необходимо будет выплатить: от 65 000 до 100 000 гривны.
    li В случае нарушения сроков, размер неустойки составляет 0,10% от суммы просрочки в день, но не более 10% от суммы кредита;
    li В случае длительной задержки выплаты информация будет передана в БКИ.
    li Продление займа возможно при своевременном информировании кредитора (до наступления даты возврата займа) и уплаты процентов за первичный срок займа. Дополнительных комиссий за продление займа не предусмотрено
  h3 Последствия невыплаты займа:
  p В случае невозвращения в условленный срок суммы займа или суммы процентов за пользование заёмными средствами кредитор вынуждено начислит штраф за просрочку платежа. Большинство кредиторов идут на уступки и дают 3 дополнительных рабочих дня для оплаты. Они предусмотрены на случай, к примеру, если банковский перевод занял больше времени, чем обычно. Однако, в случае неполучения от Вас какой-либо реакции в течение продолжительного времени, будет начислен штраф за просрочку срока погашения размером в среднем 0,10% от первоначальной суммы для займов. При несоблюдении Вами условий по погашению займов, данные о Вас могут быть переданы в реестр должников или БКИ, что негативно может сказаться на Вашей кредитной истории и рейтинге кредитоспособности. Задолженность может быть передана коллекторскому агентству для взыскания займа. При допуске просрочки продление займа невозможно.
  p О всех приближающихся сроках платежа кредитор своевременно информирует Вас по СМС или электронной почте. Рекомендуем Вам вносить платеж в день получения данных напоминаний. Погашая задолженность в срок, Вы формируете хорошую кредитную историю, что повышает Ваш рейтинг кредитоспособности и шансы в дальнейшем получить займ на более выгодных условиях.
  p Предложение не является оффертой. Конечные условия уточняйте при прямом общении с кредиторами.
  p Информация о полной стоимости займа и пример расчета:
  p Займ в размере 50 000 гривны выдан на 61 день с пролонгацией. В году 365 дней, по договору ставка составляет 0,2% в день (годовая ставка, соответственно будет равна 180%). Сумма процентов за год составляет 90 000 гривны. (50 000*180% = 90 000), за 1 день 137 гривны. (50 000/365 = 137), за 61 дней, соответственно, 8357 гривны. (137*61 = 8357). Общая сумма платежа составляет 68 357 гривны (50 000 руб. основной долг + 8 357 тг. проценты).
  p ПСЗ (полная стоимость займа) в процентах составляет 100% годовых.
  p Минимальный и максимальный период погашения займа составляет от 61 дня, до 365 дней.
  p Максимальная годовая процентная ставка, включающая ссудный процент, а также все остальные комиссии и расходы за год, или аналогичная ставка, рассчитанная соответственно местному законодательству составляет 100% годовых.
  p Взыскание долгов осуществляется посредством телефонных звонков, уведомлений по SMS и электронной почте, как Заемщика, так и контактного лица.
  p Минимальный и максимальный период погашения займа составляет от 61 дня, до 365 дней.
  p В случае просрочки по выплатам, со следующего дня после истечения срока займа, Вам будет ежедневно начисляться пеня в размере 0,05 - 1% в день от суммы кредита. Также будет продолжаться ежедневное начисление процентов за пользование займом по договору и возможно начисление фиксированной комиссии.
  ul.license
    li.license__item
      .license__inner
        div 
          p Сredit Plus ООО «АВЕНТУС УКРАИНА»
          p Лицензия: №1281
    li.license__item
      .license__inner
        div 
          p Miloan.ua - ООО "МИЛОАН"
          p Лицензия: №2843
    li.license__item
      .license__inner
        div 
          p Alex Credit ООО «АЛЕКСКРЕДИТ»
          p Лицензия: №930
    li.license__item
      .license__inner
        div 
          p Sgroshi.com.ua - ТОВ «СПОЖИВЧИЙ ЦЕНТР»
          p Лицензия: №851
    li.license__item
      .license__inner
        div 
          p Сredit7 ООО "ЛИНЕУРА УКРАИНА"
          p Лицензия: №1177
    li.license__item
      .license__inner
        div 
          p ООО «СС Лоун»
          p Лицензия: №737
    li.license__item
      .license__inner
        div 
          p ООО «1 БЕЗОПАСНОЕ АГЕНТСТВО  НЕОБХОДИМЫХ КРЕДИТОВ»
          p Лицензия: №146
    li.license__item
      .license__inner
        div 
          p ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "МАНІФОЮ"
          p Лицензия: No 1198
  p Данный ресурс не является финансовым учреждением, банком или кредитором, и не несёт ответственности за любые заключенные договоры или условия. Все материалы, размещенные на сайте имееют информационный характер. Условия выдачи займов (кредитов) уточняйте на сайте МФО или банка. Данный ресурс является агрегатором финансовых инструментов и не требует наличия лицензии для ведения такой деятельности. Email: info@zaimua.com













