.header 
	.main-container
		.flex-wrap
			.col-auto.mr-auto
				.header__logo
					.header__logo-icon
					.header__logo-cont Займы
						span Украины
			.col-auto
				p.header__info Взято кредитов сегодня: 
					span 422
