.loans 
  .main-container
    .loans__header
      h1.loans__header-title Микрозаймы Украины
        span.loans__header-percent 0.01%
      p.loans__header-text Заполните несколько заявок, чтобы повысить вероятность получения займа!
    ul.loans-list
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1986?aid=81275", target="_blank").loans-list__header-link
              img(src="img/CCLoan_Ukraine_Horizontal.png", alt="" , width="225").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 15000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1986?aid=81275", target="_blank").btn.btn--green Оформить заявку
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1436?aid=81275", target="_blank").loans-list__header-link
              img(src="img/miloan.png", alt="" , width="168").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 15000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1436?aid=81275", target="_blank").btn.btn--green Оформить заявку
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1844?aid=81275", target="_blank").loans-list__header-link
              img(src="img/CreditPlus_logo.png", alt="" , width="156").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 10000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1844?aid=81275", target="_blank").btn.btn--green Оформить заявку
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/2099?aid=81275", target="_blank").loans-list__header-link
              img(src="img/kredit7.png", alt="" , width="136").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 10000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/2099?aid=81275", target="_blank").btn.btn--green Оформить заявку
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1261?aid=81275", target="_blank").loans-list__header-link
              img(src="img/mycredit.png", alt="" , width="152").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 6000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1261?aid=81275", target="_blank").btn.btn--green Оформить заявку
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1509?aid=81275", target="_blank").loans-list__header-link
              img(src="img/alex-credit.png", alt="" , width="231").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 3000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1509?aid=81275", target="_blank").btn.btn--green Оформить заявку
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1272?aid=81275", target="_blank").loans-list__header-link
              img(src="img/shvidko-groshi.png", alt="" , width="169").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 10000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/1272?aid=81275", target="_blank").btn.btn--green Оформить заявку
      li.loans-list__item
        .loans-list__inner
          .loans-list__header
            a(href="https://rdr.salesdoubler.com.ua/in/offer/2217?aid=81275", target="_blank").loans-list__header-link
              img(src="img/logo-m4u.png", alt="" , width="235").loans-list__header-img
          .loans-list__cont 
            table.loans-list__table
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-hryvnia
                  | Сумма:
                td до 7000 ₴
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-percent
                  | Процент:
                td от 0.01% в день
              tr
                td 
                  span.loans-list__table-icon
                    i.icon-age
                  | Возраст
                td от 18 лет
            h3.loans-list__h3 Способ получения
            ul.loans-payment
              li.loans-payment__item
                img(src="img/payment/visa.svg", alt="",width="30").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard.svg", alt="",width="46").loans-payment__img
              li.loans-payment__item
                img(src="img/payment/mastercard-2.svg", alt="",width="47").loans-payment__img
          .loans-list__footer 
            a(href="https://rdr.salesdoubler.com.ua/in/offer/2217?aid=81275", target="_blank").btn.btn--green Оформить заявку
          