.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  margin: 0;
  outline: 0;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  border-radius: 5px;
  transition: 0.3s color ease, 0.3s background-color ease;
  font-weight: bold;
  font-size: 19px;
  font-family: $HelveticaNeueCond;

  &--green {
    background: #96CC61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;

    &:hover {
      background: darken(#96CC61,10%);
    }
  }
}