@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$rootUrlFonts}HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Roman.woff') format('woff'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$rootUrlFonts}HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Medium.woff2') format('woff2'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Medium.woff') format('woff'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$rootUrlFonts}HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Bold.woff') format('woff'),
      url('#{$rootUrlFonts}HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cond';
  src: url('#{$rootUrlFonts}HelveticaNeueBoldCondensed.eot');
  src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
      url('#{$rootUrlFonts}HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
      url('#{$rootUrlFonts}HelveticaNeueBoldCondensed.woff2') format('woff2'),
      url('#{$rootUrlFonts}HelveticaNeueBoldCondensed.woff') format('woff'),
      url('#{$rootUrlFonts}HelveticaNeueBoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}