
.mt-30 {
  margin-top: 30px!important;
}

.mb-30 {
  margin-bottom: 30px!important;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.mt-15 {
  margin-top: 15px!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.w100 {
  width: 100% !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-wrap: wrap;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;

  [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-1-2 {
  width: 50%;
}

.main-container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.slick-slide {
  outline: 0;
}

@media(max-width: 1200px) {
  .main-container {
    max-width: 1054px;
  }
}
