* ,
::after ,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.18;
  background: #fff;
  color: #000;
  font-family: $HelveticaNeue;
}

#main {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

