h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  font-weight: 700;
}


a {
  outline: 0;
}


.text-uppercase {
  text-transform: uppercase;
}

.text-content  {

}

ul {
  padding-left: 20px;
  margin-bottom: 30px;

  li {
    margin-bottom: 10px;
  }
}

.license {
  padding: 0;
  margin: 40px -10px 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 0 10px;
    width: 25%;
    margin-bottom: 20px;
  }

  &__inner {
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    min-height: 120px;
    height: 100%;
    text-align: center;
    padding: 15px 20px;
  }

  p {
    margin: 0 0 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media(max-width: 1200px) {
  .license__item {
    width: calc(100% / 3);
  }
}

@media(max-width: 860px) {
  .license__item {
    width: 50%;
  }
}

@media(max-width: 568px) {
  .license__item {
    width: 100%;
    margin-bottom: 15px;
  }
}