.header {
  border-bottom: 1px solid #F1F1F1;
  padding-top: 45px;
  padding-bottom: 45px;

  &__logo {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    align-items: center;

    &-icon {
      width: 58px;
      height: 57px;
      background: url('#{$rootUrl}logo.svg') no-repeat center;
      background-size: contain;
    }

    &-cont  {
      color: #4EA3DA;
      line-height: 1.2;
      font-weight: 500;
      font-size: 25px;
      padding-left: 13px;

      span {
        color: #CCDE00;
        display: block;
      }
    }
  }

  &__info {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    margin: 17px 0 0;
    color: #585C64;

    span {
      color: #4EA3DA;
    }
  }
}

@media(max-width:1200px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;

    &__logo {
      &-cont {
        font-size: 20px;
      }
    }

    &__info {
      font-size: 20px;
      margin-top: 16px;
    }
  }
}

@media(max-width:860px) {
  .header {
    &__logo {
      &-icon {
        width: 40px;
        height: 40px;
      }

      &-cont {
        font-size: 16px;
        padding-left: 10px;
        padding-top: 3px;
      }
    }

    &__info {
      font-size: 16px;
      margin-top: 10px;
    }
  }
}

@media(max-width:568px) {
  .header {
    .col-auto {
      &:first-child {
        padding-right: 20px;
      }
    }

    &__info {
      font-size: 14px;
    }
  }
}