.loans {
  &__header {
    margin: 83px 0 0;
    position: relative;
    padding: 0 180px 0 0;

    &:before {
      position: absolute;
      top: -42px;
      right: 71px;
      content: '';
      display: block;
      width: 162px;
      height: 165px;
      background: url('#{$rootUrl}24-hours.svg') no-repeat center;
      background-size: contain;
    }

    &-title {
      margin: 0 0 3px;
      font-weight: 500;
      font-size: 50px;
      line-height: 1.2;
      color: #585C64;
      position: relative;
      letter-spacing: 1px;
    }

    &-percent {
      width: 181px;
      height: 186px;
      background: url('#{$rootUrl}percent.svg') no-repeat center;
      background-size: contain;
      display: inline-block;
      vertical-align: top;
      margin: -94px 0 0 65px;
      text-align: center;
      color: #585C64;
      font-weight: bold;
      font-size: 25px;
      padding: 110px 70px 10px 14px;
      font-family: $HelveticaNeueCond;
    }

    &-text {
      color: #585C64;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      margin: 0;
    }
  }
}

.loans-list {
  padding: 0;
  margin: 42px -10px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 0 10px;
    margin-bottom: 50px;
    width: 25%;
  }

  &__inner {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-height: 400px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 106px;
    border-bottom: 1px solid #F0F0F0;
    padding: 0 15px;

    &-link {
      text-decoration: none;
      display: block!important;
    }

    &-img {
      display: block!important;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__cont {
    padding: 22px 15px 11px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 3px;

    &-icon {
      width: 20px;
      display: inline-block;
      vertical-align: top;
    }

    .icon-hryvnia {
      margin-top: 2px;
    }

    .icon-percent {
      margin-top: 1px;
    }

    td {
      font-weight: 500;
      font-size: 15px;
      line-height: 1.2;
      color: #585C64;
      padding: 8px 5px;

      &:last-child {
        text-align: right;
        color: #FD6C2E;
      }
    }
  }

  &__h3 {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3;
    color: #122436;
    margin: 0 0 20px;
  }

  &__footer  {
    border-top: 1px solid #F0F0F0;
    padding: 22px 15px 41px;
    text-align: center;
  }
}

[class*="icon-"] {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-hryvnia {
  width: 14px;
  height: 13px;
  background-image: url('#{$rootUrl}hryvnia.svg');
}

.icon-percent {
  width: 13px;
  height: 14px;
  background-image: url('#{$rootUrl}percent-t.svg');
}

.icon-age {
  width: 15px;
  height: 15px;
  background-image: url('#{$rootUrl}age.svg');
}

.loans-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    padding: 0 10px;
  }

  &__img  {
    display: block;
  }
}

@media(max-width: 1200px) {
  .loans {
    &__header {
      &:before {
        width: 130px;
        height: 130px;
        right: 0;
      }

      &-title {
        font-size: 40px;
        margin-bottom: 10px;
      }

      &-percent {
        width: 120px;
        height: 120px;
        margin: -57px 0 0 30px;
        font-size: 18px;
        padding: 70px 47px 10px 10px;
      }

      &-text {
        font-size: 18px;
      }
    }
  }

  .loans-list__item {
    width: calc(100% / 3);
  }
}

@media(max-width: 860px) {
  .loans {
    &__header {
      margin-top: 40px;
      padding-right: 110px;

      &:before {
        width: 90px;
        height: 90px;
        top: -21px;
      }

      &-title {
        font-size: 30px;
        display: inline-block;
        vertical-align: top;
        padding-right: 100px;
        margin-bottom: 15px;
      }

      &-percent {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 18px;
        right: 0;
        font-size: 14px;
        padding: 53px 35px 10px 9px;
      }

      &-text {
        font-size: 16px;
      }
    }
  }

  .loans-list__item {
    width: 50%;
  }
}

@media(max-width: 568px) {
  .loans {
    &__header {
      padding-right: 0;

      &:before {
        display: none;
      }

      &-title {
        font-size: 26px;
        padding-right: 110px;
      }
    }
  }

  .loans-list__item {
    width: 100%;
    margin-bottom: 30px;
  }
}