doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Микрзаймы Украины
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="css/main.css")
  body
    block content
    block scripts
      //script(src='js/app.js')
